<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Demo</title>
    <!-- <link href="static/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/my_style.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="static/js/d3.v3.js"></script>

    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <script type="text/javascript" src="static/js/chord.js"></script>
    <script type="text/javascript" src="static/js/bar.js"></script>
    <script type="text/javascript" src="static/js/sunburst.js"></script>

</head>

<body>
    <div id="tooltip" class="hidden tooltip"></div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a class="choropleth-tab" href="#choropleth_tab" data-toggle="tab">Choropleth</a></li>
            <li><a class="chord-tab" href="#chord_tab" data-toggle="tab">Chord Diagram</a></li>
            <li><a class="bar-tab" href="#bar_tab" data-toggle="tab">Bar Graphs</a></li>
            <li><a class="sunburst-tab" href="#sunburst_tab" data-toggle="tab">Sunburst</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="choropleth_tab">
                <h1>Choropleth</h1>
                <div id="choropleth-content"></div>
            </div>
            <div class="tab-pane" id="chord_tab">
                <h1>Chord Diagram</h1>
                <div id="chord-content"></div>
            </div>
            <div class="tab-pane" id="bar_tab">
                <h1>Bar Graph</h1>
                <div id="bar-content"></div>
            </div>
            <div class="tab-pane" id="sunburst_tab">
                <h1>Zoomable Sunburst</h1>
                <div id="sunburst-content"></div>
            </div>
        </div>

        <div id="inspector" class="panel panel-default">
            <div id="inspector-title" class="panel-heading">
                <h1 class="panel-title">The Inspector
                    <button id="inspector-minimizer" type="button" class="btn btn-default btn-sm" aria-label="Right Align" style="vertical-align: top;margin: 0 0 0 120px;">
                        <span id="inspector-minimizer-icon" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </button>
                </h1>
            </div>
            <ul id="inspector-body" class="list-group">
                <li class="list-group-item">
                    <h3>Filters</h3>
                    <ul class="list-group query-list">
                        <p id="empty-message" class="list-group-item">Apply filters below</p>
                    </ul>
                    <select id='filtering-options' class="form-control">
                    </select>
                    <button class="btn btn-primary query-add" type="button" style="width: 100%;">Add Filter</button>
                </li>
                <li class="list-group-item">
                    <h3>Metrics</h3>
                    <ul class="list-group metric-list">
                        <p id="empty-message" class="list-group-item">Apply filters below, when no metrics are selected, the number of records is used instead.</p>
                    </ul>
                    <select id='metric-options' class="form-control">
                    </select>
                    <button class="btn btn-primary metric-add" type="button" style="width: 100%;">Add Metric</button>

                    <div class="btn-group" role="group" style="width: 100%;">
                        <button type="button" value="MIN" class="btn btn-default choice-set" style="width: 33%;">Min</button>
                        <button type="button" value="AVG" class="btn btn-primary choice-set" style="width: 33%;">Avg</button>
                        <button type="button" value="MAX" class="btn btn-default choice-set" style="width: 33%;">Max</button>
                    </div>
                </li>
                <li class="list-group-item">
                    <h3>View Control</h3>
                    <button id="redraw-btn" type="button" class="btn btn-primary" style="width: 100%;">Redraw with new query</button>
                    <button id="zoom-out-btn" type="button" class="btn btn-default" style="width: 100%;">Move up a level</button>
                    <button id="zoom-in-btn" type="button" class="btn btn-default" style="width: 100%;">Move down into selected</button>
                </li>
            </ul>
        </div>
    </div>

    <script>
        $.ajaxSetup({
            // Disable caching of AJAX responses
            // Used when debugging
            cache: false
        });

        {% autoescape off %}
        var choices = {{ choices }};
        var stateCodes = {{ state_codes }};
        {% endautoescape %}


        console.log('choices: ', choices);

        // jquery for the inspector panel/controller window

        // delete choices.PAP;
        // delete choices.DOUT;

        function stringComparator(a, b) {
            if (a < b)
                return -1;
            if (a > b)
                return 1;
            return 0;
        }

        var filters = [];
        var metrics = [];
        for (var i in choices) {
            filters.push(i);
            if (!('choices' in choices[i])) {
                metrics.push(i);
            } else {
                choices[i].choices.sort(function(a, b) {
                    return stringComparator(a[1], b[1]);
                });
            }
        }

        filters.sort(function(a, b) {
            return stringComparator(choices[a].verbose_name, choices[b].verbose_name);
        });
        metrics.sort(function(a, b) {
            return stringComparator(choices[a].verbose_name, choices[b].verbose_name);
        });

        console.log('filters: ', filters);
        console.log('metrics: ', metrics);

        // builds the selections for the filters and the metrics
        for (i = 0; i < filters.length; i++) {
            $('<option/>')
                .attr({
                    'value': filters[i]
                })
                .text(choices[filters[i]].verbose_name)
                .appendTo('#filtering-options');
        }
        for (i = 0; i < metrics.length; i++) {
            $('<option/>')
                .attr({
                    'value': metrics[i]
                })
                .text(choices[metrics[i]].verbose_name)
                .appendTo('#metric-options');
        }

        function replaceChoices() {
            var selectedChoice = choices[$('#filtering-options').val()];

            var newFormField;
            if ('choices' in selectedChoice) {
                newFormField = $('<select/>').attr('id', 'filtering-options-values').addClass('form-control');
                for (var choice in selectedChoice.choices) {
                    $('<option/>')
                        .attr({
                            'value': selectedChoice.choices[choice][0]
                        })
                        .text(selectedChoice.choices[choice][1])
                        .appendTo(newFormField);
                }
                // fill with choices
            } else {
                newFormField = $('<input>').attr({
                    id: 'filtering-options-values',
                    type: 'number',
                    class: 'form-control'
                });
                if ('max' in selectedChoice) {
                    newFormField.attr('max', selectedChoice.max);
                }
                if ('min' in selectedChoice) {
                    newFormField.attr('min', selectedChoice.min);
                }
            }

            if ($('#filtering-options-values').length) {
                $('#filtering-options-values').replaceWith(newFormField);
            } else {
                $('#filtering-options').after(newFormField);
            }
        }
        replaceChoices();

        $("#filtering-options")
            .change(replaceChoices);

        var removeItem = function() {
            $(this).slideUp('fast', function() {
                $(this).remove();
            });
        }

        // Temporary as the list will start empty
        $(".query-item").click(removeItem);
        $(".metric-item").click(removeItem);

        function getRotationDegrees(obj) {
            var matrix = obj.css("-webkit-transform") ||
                obj.css("-moz-transform") ||
                obj.css("-ms-transform") ||
                obj.css("-o-transform") ||
                obj.css("transform");
            if (matrix !== 'none') {
                var values = matrix.split('(')[1].split(')')[0].split(',');
                var a = values[0];
                var b = values[1];
                var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
            } else {
                var angle = 0;
            }
            return (angle < 0) ? angle += 360 : angle;
        }

        function animateRotate(d) {
            var elem = $("#inspector-minimizer-icon");
            var start = getRotationDegrees(elem);
            $({
                deg: start
            }).animate({
                deg: start + d
            }, {

                duration: 'fast',
                step: function(now) {
                    elem.css({
                        transform: "rotate(" + now + "deg)"
                    });
                }
            });
        }

        function createListButton(target) {
            return $("<button/>").attr({
                    type: 'button',
                })
                .addClass('list-group-item')
                .click(removeItem)
                .hide()
                .css('opacity', 0)
                .appendTo(target)
                .slideDown('fast')
                .animate({
                    opacity: 1
                }, "fast");
        }

        // For when a new filtering option is added
        $(".query-add").click(function() {
            var htmlString = $("#filtering-options option:selected").text() + ": ";
            if ($("#filtering-options-values").is('input')) {
                htmlString += $("#filtering-options-values").val();
            } else {
                htmlString += $("#filtering-options-values option:selected").text();
            }
            var button = createListButton(".query-list")
                .html(htmlString)
                .addClass('query-item')
                .data({
                    query: $("#filtering-options option:selected").val(),
                    value: $("#filtering-options-values").val()
                });
        });
        // For when a new metric options is added
        $(".metric-add").click(function() {
            var htmlString = $("#metric-options option:selected").text();
            createListButton(".metric-list")
                .html(htmlString)
                .addClass('metric-item')
                .data({
                    metric: $("#metric-options option:selected").val(),
                });
        });

        $('#inspector-minimizer').click(function() {
            animateRotate(180);
            $('#inspector-body').slideToggle();
        });

        $('.choice-set').click(function() {
            if (!$(this).hasClass('btn-primary')) {
                var other = $('.choice-set.btn-primary');
                other.removeClass('btn-primary');
                other.addClass('btn-default');
                $(this).removeClass('btn-default');
                $(this).addClass('btn-primary');
            }
        });

        $("#inspector").draggable({
            containment: 'window',
            scroll: false,
            handle: '#inspector-title'
        });

        var selectedIDs = [];
        var selectID = function(newID, shouldntClear) {
            // new id is blank
            if (newID == ''){
                if (shouldntClear){ // white space with ctrl, so do nothing
                    return;
                } else { // white space pressed without ctrl
                    $('#group-selected').children().each(function(){
                        $(this)
                            .appendTo('#group-main')
                            .css('stroke', '');
                    });
                    selectedIDs = [];
                }
            } else if (shouldntClear) { // ctrl key is being pressed
                if (selectedIDs.indexOf(newID) == -1){ // id not found, add the id
                    selectedIDs.push(newID);
                    $('#' + newID)
                        .appendTo('#group-selected');
                } else { // id is already there, de select it
                    selectedIDs.splice(selectedIDs.indexOf(newID), 1);
                    $('#' + newID)
                        .appendTo('#group-main');
                }
            } else { // no ctrl key
                if (selectedIDs.length > 1 || selectedIDs.indexOf(newID) == -1){ // multiple are selected, clear all
                    $('#group-selected').children().each(function(){
                        if ($(this).attr('id') != newID){
                            selectedIDs.splice(selectedIDs.indexOf($(this).attr('id')), 1);
                            $(this)
                                .appendTo('#group-main');
                        }
                    });
                }
                if (selectedIDs.length == 1){ // the id has been reselected
                    return;
                } else {
                    selectedIDs.push(newID);
                    $('#' + newID)
                        .appendTo('#group-selected');
                }

            }
            // else if (selectedID.length == 0){
            //     selectedID.push(newID);
            //     $('#' + newID)
            //         .css('stroke', 'black')
            //         .appendTo('#group-selected');
            // }
            //shouldntClear
                // new id is present
                    // do nothing
                // new id
                    // add it
            //shouldClear
                // more than one selected
                    // clear all
                // new id is present
                    // do nothing
                // else
                    // clear current selection
                // new id

            // if (shouldntClear){
            //     selectedID = [];
            // }
            // if ($.inArray(newID, selectedID) == -1) {
            //     $('#' + selectedID)
            //         .css('stroke', '')
            //         .appendTo('#group-main')
            //     selectedID = nextID;
            //     $('#' + selectedID)
            //         .css('stroke', 'black')
            //         .appendTo('#group-selected');
                    // .each(function() {
                    //     $(this).appendTo($(this).parent())
                    // });
            // }
        };

        var controller = {
            map: '', // The current map file that has been loaded
            visualisation: 'choropleth-country', // 4 different visualisations, choropeth, bar, chord and sunburst. Different levels are have suffix -country, -state or -puma
            // state: 48, // 48 for TX, 11 for DC
        };

        var evaluateQuery = function() {
            var filters = {};
            $('.query-item').each(function() {
                filters[$(this).data().query] = $(this).data().value;
            })
            controller.query = filters;

            var metrics = [];
            $('.metric-item').each(function() {
                metrics.push($(this).data().metric)
            })
            controller.metric = metrics;
            console.log('controller.metrics: ', controller.metric);
            if (metrics.length == 0) {
                controller.aggregation = 'COUNT';
            } else {
                controller.aggregation = $(".choice-set.btn-primary").val();
            }
        };
        evaluateQuery();

        var width = 1280;
        var height = 720;

        // Initialising the first visualisation
        var visualisation = new Choropleth();
        visualisation.redrawFunction();
        $('#redraw-btn').click(function(){visualisation.redrawFunction();});
        $('#zoom-out-btn').click(function() {
            if (controller.visualisation == 'choropleth-state') {
                controller.visualisation = 'choropleth-country';
                delete controller.state;
                visualisation.redrawFunction();
            }
        });
        $('#zoom-in-btn').click(function() {
            // the different cases for current selection
            // state selected
            // puma selected
            // no selection
            if (selectedIDs.length == 1 && controller.visualisation == 'choropleth-country') {
                controller.visualisation = 'choropleth-state';
                controller.state = selectedIDs[0];
                visualisation.redrawFunction();
            }
        });

        // Setting up the the different tabs and visualisations
        $(".choropleth-tab").click(function(){
            if(!$(this).parent().hasClass('active')){
                controller.visualisation = 'choropleth-country';
                visualisation = new Choropleth();
                visualisation.redrawFunction();
            }
        });
        $(".chord-tab").click(function(){
            if(!$(this).parent().hasClass('active')){
                controller.visualisation = 'chord-country';
                delete controller.map;
                visualisation = new Chord();
                visualisation.redrawFunction();
            }
        });
        $(".bar-tab").click(function(){
            if(!$(this).parent().hasClass('active')){
                controller.visualisation = 'bar-country';
                delete controller.map;
                visualisation = new Bar();
                visualisation.redrawFunction();
            }
        });
        $(".sunburst-tab").click(function(){
            if(!$(this).parent().hasClass('active')){
                controller.visualisation = 'sunburst-country';
                delete controller.map;
                visualisation = new Sunburst();
                visualisation.redrawFunction();
            }
        });
    </script>
</body>

</html>
