<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <title>Demo</title>
    <!-- <link href="static/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="static/js/d3.v3.js"></script>

    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <script type="text/javascript" src="static/js/chord.js"></script>
    <script type="text/javascript" src="static/js/bar.js"></script>
    <script type="text/javascript" src="static/js/sunburst.js"></script>

    <style>
        #inspector {
            position: absolute;
            top: 50px;
            right: 50px;
            width: 300px;
        }

        .bar-content div {
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
        }

        .sunburst rect {
            fill: steelblue;
        }

        .sunburst text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }

        .PUMA, .STATE {
            fill: grey;
            /*stroke-width: 2;*/
            stroke: black;
        }

        .STATE:hover, .PUMA:hover {
            opacity: 0.9;
            stroke: darkgray;
        }

        .hidden {
            display: none;
        }

        div.tooltip {
            color: #222;
            background-color: #fff;
            padding: .5em;
            text-shadow: #f5f5f5 0 1px 0;
            border-radius: 2px;
            opacity: 0.9;
            position: absolute;
        }
    </style>
</head>

<body>
    <div id="tooltip" class="hidden tooltip"></div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a class="choropleth-tab" href="#choropleth_tab" data-toggle="tab">Choropleth</a></li>
            <li><a class="chord-tab" href="#chord_tab" data-toggle="tab">Chord Diagram</a></li>
            <li><a class="bar-tab" href="#bar_tab" data-toggle="tab">Bar Graphs</a></li>
            <li><a class="sunburst-tab" href="#sunburst_tab" data-toggle="tab">Sunburst</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="choropleth_tab">
                <h1>Choropleth</h1>
                <div class="choropleth-content"></div>
            </div>
            <div class="tab-pane" id="chord_tab">
                <h1>Chord Diagram</h1>
                <div class="chord-content"></div>
            </div>
            <div class="tab-pane" id="bar_tab">
                <h1>Bar Graph</h1>
                <div class="bar-content"></div>
            </div>
            <div class="tab-pane" id="sunburst_tab">
                <h1>Zoomable Sunburst</h1>
            </div>
        </div>




        <div id="inspector" class="panel panel-default">
            <div id="inspector-title" class="panel-heading">
                <h1 class="panel-title" >The Inspector
                    <button id="inspector-minimizer" type="button" class="btn btn-default btn-sm" aria-label="Right Align" style="vertical-align: top;margin: 0 0 0 120px;">
                        <span id="inspector-minimizer-icon" class="glyphicon glyphicon-menu-up" aria-hidden="true" ></span>
                    </button>
                </h1>
            </div>
            <ul id="inspector-body" class="list-group">
                <li class="list-group-item">
                    <h3>Filters</h3>
                    <ul class="list-group query-list">
                        <p id="empty-message" class="list-group-item">Apply filters below</p>
                    </ul>
                    <select id='filtering-options' class="form-control">
                    </select>
                    <button class="btn btn-primary query-add" type="button" style="width: 100%;">Add Filter</button>
                </li>
                <li class="list-group-item">
                    <h3>Metrics</h3>
                    <ul class="list-group metric-list">
                        <p id="empty-message" class="list-group-item">Apply filters below, when no metrics are selected, the number of records is used instead.</p>
                    </ul>
                    <select id='metric-options' class="form-control">
                    </select>
                    <button class="btn btn-primary metric-add" type="button" style="width: 100%;">Add Metric</button>

                    <div class="btn-group" role="group" style="width: 100%;">
                        <button type="button" value="MIN" class="btn btn-default choice-set" style="width: 33%;">Min</button>
                        <button type="button" value="AVG" class="btn btn-primary choice-set" style="width: 33%;">Avg</button>
                        <button type="button" value="MAX" class="btn btn-default choice-set" style="width: 33%;">Max</button>
                    </div>
                </li>
                <li class="list-group-item">
                    <h3>Control</h3>
                    <button id="redraw-btn" type="button" class="btn btn-primary" style="width: 100%;">Redraw with new query</button>
                    <button id="zoom-out-btn" type="button" class="btn btn-default" style="width: 100%;">Move up a level</button>
                    <button id="zoom-in-btn" type="button" class="btn btn-default" style="width: 100%;">Move down into selected</button>
                </li>
            </ul>
        </div>
    </div>

    <script>
        $.ajaxSetup({
            // Disable caching of AJAX responses
            // Used when debugging
            cache: false
        });

        {% autoescape off %}
        var choices = {{ choices }};
        var stateCodes = {{ state_codes }};
        {% endautoescape %}

        // jquery for the inspector panel/controller window

        // delete choices.PAP;
        // delete choices.DOUT;

        var filters = [];
        var metrics = [];
        for (var i in choices) {
            filters.push(i);
            if (!('choices' in choices[i])){
                metrics.push(i);
            }
        }

        // may have to craft a custom sort function to get the right order
        filters.sort();
        metrics.sort();

        // builds the selections for the filters and the metrics
        for (i = 0; i < filters.length; i++) {
            $('<option/>')
                .attr({
                    'value': filters[i]
                })
                .text(choices[filters[i]].verbose_name)
                .appendTo('#filtering-options');
        }
        for (i = 0; i < metrics.length; i++) {
            $('<option/>')
                .attr({
                    'value': metrics[i]
                })
                .text(choices[metrics[i]].verbose_name)
                .appendTo('#metric-options');
        }

        function replaceChoices() {
            var selectedChoice = choices[$('#filtering-options').val()];

            var newFormField;
            if ('choices' in selectedChoice) {
                newFormField = $('<select/>').attr('id', 'filtering-options-values').addClass('form-control');
                for (var choice in selectedChoice.choices) {
                    $('<option/>')
                        .attr({
                            'value': selectedChoice.choices[choice][0]
                        })
                        .text(selectedChoice.choices[choice][1])
                        .appendTo(newFormField);
                }
                // fill with choices
            } else {
                newFormField = $('<input>').attr({
                    id: 'filtering-options-values',
                    type: 'number',
                    class: 'form-control'
                });
                if ('max' in selectedChoice) {
                    newFormField.attr('max', selectedChoice.max);
                }
                if ('min' in selectedChoice) {
                    newFormField.attr('min', selectedChoice.min);
                }
            }

            if ($('#filtering-options-values').length) {
                $('#filtering-options-values').replaceWith(newFormField);
            } else {
                $('#filtering-options').after(newFormField);
            }
        }
        replaceChoices();

        $("#filtering-options")
            .change(replaceChoices);

        var removeItem = function() {
            $(this).slideUp('fast', function() {
                $(this).remove();
            });
        }

        // Temporary as the list will start empty
        $(".query-item").click(removeItem);
        $(".metric-item").click(removeItem);

        function getRotationDegrees(obj) {
            var matrix = obj.css("-webkit-transform") ||
                obj.css("-moz-transform") ||
                obj.css("-ms-transform") ||
                obj.css("-o-transform") ||
                obj.css("transform");
            if (matrix !== 'none') {
                var values = matrix.split('(')[1].split(')')[0].split(',');
                var a = values[0];
                var b = values[1];
                var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
            } else {
                var angle = 0;
            }
            return (angle < 0) ? angle += 360 : angle;
        }

        function animateRotate(d) {
            var elem = $("#inspector-minimizer-icon");
            var start = getRotationDegrees(elem);
            $({
                deg: start
            }).animate({
                deg: start + d
            }, {

                duration: 'fast',
                step: function(now) {
                    elem.css({
                        transform: "rotate(" + now + "deg)"
                    });
                }
            });
        }

        function createListButton(target){
            return $("<button/>").attr({
                    type: 'button',
                })
                .addClass('list-group-item')
                .click(removeItem)
                .hide()
                .css('opacity', 0)
                .appendTo(target)
                .slideDown('fast')
                .animate({
                    opacity: 1
                }, "fast");
        }

        // For when a new filtering option is added
        $(".query-add").click(function() {
            var htmlString = $("#filtering-options option:selected").text() + ": ";
            if ($("#filtering-options-values").is('input')) {
                htmlString += $("#filtering-options-values").val();
            } else {
                htmlString += $("#filtering-options-values option:selected").text();
            }
            var button = createListButton(".query-list")
                .html(htmlString)
                .addClass('query-item')
                .data({
                    query: $("#filtering-options option:selected").val(),
                    value: $("#filtering-options-values").val()
                });
        });
        // For when a new metric options is added
        $(".metric-add").click(function() {
            var htmlString = $("#metric-options option:selected").text();
            createListButton(".metric-list")
                .html(htmlString)
                .addClass('metric-item')
                .data({
                    metric: $("#metric-options option:selected").val(),
                });
        });

        $('#inspector-minimizer').click(function() {
            animateRotate(180);
            $('#inspector-body').slideToggle();
        });

        $('.choice-set').click(function() {
            if (!$(this).hasClass('btn-primary')) {
                var other = $('.choice-set.btn-primary');
                other.removeClass('btn-primary');
                other.addClass('btn-default');
                $(this).removeClass('btn-default');
                $(this).addClass('btn-primary');
            }
        });

        $("#inspector").draggable({
            containment: 'window',
            scroll: false,
            handle: '#inspector-title'
        });

        var selectedID = '';
        var selectID = function(nextID){
            if (nextID != selectID){
                $('#' + selectedID)
                    .css('stroke', '')
                selectedID = nextID;
                $('#' + selectedID)
                    .css('stroke', '#2E6DA4')
                    .each(function(){
                        $(this).appendTo($(this).parent())
                    });
            }
        };

        var controller = {
            map: '', // The current map file that has been loaded
            visualisation: 'choropleth-country', // 4 different visualisations, choropeth, bar, chord and sunburst. Different levels are have suffix -country, -state or -puma
            // state: 48, // 48 for TX, 11 for DC
        };

        var evaluateQuery = function(){
            var filters = {};
            $('.query-item').each(function() {
                filters[$(this).data().query] = $(this).data().value;
            })
            controller.query = filters;

            var metrics = [];
            $('.metric-item').each(function(){
                metrics.push($(this).data().metric)
            })
            controller.metric = metrics;

            if (metrics.length == 0){
                controller.aggregation = 'COUNT';
            } else {
                controller.aggregation = $(".choice-set.btn-primary").val();
            }
        };
        evaluateQuery();

        var width = 1280;
        var height = 720;

        // Initialising the first visualisation
        var visualisation = new Choropleth();
        visualisation.redrawFunction();
        $('#redraw-btn').click(visualisation.redrawFunction);
        $('#zoom-out-btn').click(function(){
            if (controller.visualisation == 'choropleth-state'){
                controller.visualisation = 'choropleth-country';
                delete controller.state;
                visualisation.redrawFunction();
            }
        });
        $('#zoom-in-btn').click(function(){
            // the different cases for current selection
            // state selected
            // puma selected
            // no selection
            if (selectedID != '' && controller.visualisation == 'choropleth-country'){
                controller.visualisation = 'choropleth-state';
                controller.state = selectedID;
                visualisation.redrawFunction();
            }
        });

        // Setting up the the different tabs and visualisations
        $(".choropleth-tab").click(Choropleth);
        $(".chord-tab").click(Chord);
        $(".bar-tab").click(Bar);
        $(".sunburst-tab").click(Sunburst);
    </script>
</body>

</html>
